.edit{
    color: #7DC6E9;
    font-size: 23px;
    text-align: center;
    margin: 10px auto 10px auto
}

.edit__line{
    background: #f7f7f7;
    border: 1px solid #e5e5e5;
    justify-content: space-between;
    padding: 1.2rem 1.6rem;
}

.text-input {
    border: 1px solid #cacccd;
    font-size: 30px;
    font-weight: 300;
    height: 50px;
    text-align: center;
    padding: 1.2rem;
}

.edit_button{
    background: #5896be;
    border: none;
    border-radius: 08px;
    color:white;
    font-size: 32px;
    height: 42px;
    margin: 18px auto 05px auto;
    text-align: center;
    width: 120px
}